{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<style>
</style>

<main>
  <div class="container">
    <section class="mb-4">
      <div class="row wow fadeIn">
        <div class='col-6 offset-3'>
          <h1>{% trans "Üye Ol" %}</h1>
          <p>{% blocktrans %}Bir hesabınız var mı? <a href="{{ login_url }}">Buradan</a> giriş
            yapabilirsiniz.{% endblocktrans %}
          </p>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}