{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Efe Tedarik</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/EfeIcon.jpg' %}" />
  {% block extra_head %}
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
  </style>
</head>

{% include "navbar.html" %}

<body>
  {% block content %}
  {% endblock content %}

  {% block extra_body %}
  {% endblock %}

  {% block extra_scripts %}
  {% endblock extra_scripts %}
</body>

</html>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-afe4d8cc-e711-49a9-bc84-7235af022512"></div>

<br>
<br>
<div style="background: rgba(128, 128, 128, 0.075); padding: 30px;">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'img/EfeLogo.png' %}" style="height: 100px;">
      <br>
    </div>
    <div class="col-md-3">
      <b>ZONGULDAK</b><br>Sadık Tekin Müftüoğlu Cd. No:22/A<br>Çaycuma, ZONGULDAK / TÜRKİYE
      <br>+90 312 502 4949
      <br><br>
    </div>
    <div class="col-md-3">
      <b>ANKARA</b><br>Bağlıca Mahallesi, Bulvarı Bulvarı 26/F<br>Etimesgut, ANKARA / TÜRKİYE
      <br>+90 312 387 3000<br><br>

      <br> <br>
    </div>
    <div class="col-md-3">
      <a href="mailto:efetedarik@outlook.com" target="_blank"> efetedarik@outlook.com</a>
      <br>
      <br>
      <p class="copyright"> ©Tüm Hakları Saklıdır. </p>
    </div>
  </div>
</div>