{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<style>
  .header {
    padding-inline: 60px;
    padding-top: 100px;
    color: white;
    font-size: 30px;
    background-image: url("{% static 'img/background/truck3.jpg' %}");
    background-size: cover;
    background-position: center;
    height: 380px;

  }

  .section {
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }

  .h1 {
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .h2 {
    font-weight: bold;
    color: #2C7000;
    font-size: 30px;
  }

  .box-start {
    border-style: dotted;
    border-color: #8e8f4d;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
  }

  .box-header-start {
    font-size: 20px;
    font-weight: bold;
    color: #7b7c41;
  }

  .box {
    text-align: center;
  }

  .box-header {
    font-size: 16px;
    font-weight: bold;
  }

  .nasil-calisiyoruz {
    background-image: url("{% static 'img/background/truck.jpg' %}");
    background-size: cover;
    background-position: bottom;
    height: 550px;
  }
</style>

<body>
  <div>
    <header>
      <div class="header">
        <div>
          <h1 class="h1">Tek tedarikçi, Tek fatura, Tam zamanında</h1>
          <p style="font-size: 30px; -webkit-text-stroke-width: 0.5px;
          -webkit-text-stroke-color: white;">
            Karmaşık tedarik zinciri süreçlerini basit, sürdürülebilir ve<br>takip edilebilir sisteme dönüştüren iş
            modeli
          </p>
        </div>
      </div>
    </header>

    <br>
    <br>
    <br>
    <br>

    <section>
      <div class="container">
        <div>
          <div class="row">
            <div class="col-md-4">
              <div class="box-start">
                <img src="">
                <div class="texts">
                  <p class="box-header-start">Tam Tedarik Zinciri</p>
                  <p>Efe Tedarik, ithalat, sipariş ve yerine koyma yönetimi, stok takibi, depolama, elleçleme, dağıtım,
                    iade yönetimi, raporlama ve müşteri yönetimi gibi tüm tedarik zinciri detaylarını eksiksiz olarak
                    yönetir.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-start">
                <img src="">
                <div class="texts">
                  <p class="box-header-start">Tanınmış Markalar</p>
                  <p>
                    Dünyada marka gücü kuvvetli olan ürünlerin ithalatını ve Türkiye perakende ve toptan kanal
                    dağıtımlarını yapar. Dünyadan raflara sloganıyla tüketicileri farklı ve yeni ürün gruplarıyla
                    buluşturur.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-start">
                <img src="">
                <div class="texts">
                  <p class="box-header-start">Hizmet Kanalları</p>
                  <p>Geniş ürün portföyü ve tecrübeli ekibi ile akaryakıt istasyonu marketleri, organize perakende
                    sektörü, ev dışı tüketim, ihtisas marketleri ve geleneksel kanal bayileri gibi tüm ticari kanallara
                    hizmet götürür.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>

    <section>
      <div class="section">
        <div class="nasil-calisiyoruz">
          <br>
          <div style="background-color: white;">
            <br>
            <br>
            <h2 class="h2" style="color:#796c17">Nasıl çalışıyoruz?</h2>
            <p class="aniuk lead">Tedarikçi sayısı, ürün çeşitliliği ve sipariş potansiyeli ne kadar yüksek olursa olsun
            </p>
            <p>Efe Tedarik tüm tedarik zinciri sürecini müşterileri için sorunsuz olarak gerçekleştirir.</p>
            <br>
          </div>

        </div>
      </div>
    </section>

    <br>
    <br>

    <section class="a-hizmet-kanallari">
      <div class="container">
        <h2 class="h2" style="text-align: center;">Hizmet Kanalları</h2>
        <p class="lead">
          Efe Tedarik özel proje ve çözümlerle farklı satış kanallarındaki müşteri grupları için verimliliği ve arzu
          edilen hizmeti sağlamak için güçlü altyapı, grup sinerjisi, deneyimli ekip ve tecrübesini kullanan, uçtan uca
          hizmet veren bir
          tedarik zinciri şirketidir.
        </p>
        <div style="padding-inline: 50px; text-align: center;">
          <div class="row">
            <div class="col-md-3">
              <div class="box">
                <img src="">
                <div class="texts">
                  <p class="box-header">
                    PROJE YÖNETİMİ
                  </p>
                  <p>Firmaların ana işlerine daha fazla odaklanabilmeleri için belirlenen tüm süreçlerin yönetilmesi</p>

                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <img src="">
                <div class="texts">
                  <p class="box-header">
                    PERAKENDE KANALI
                  </p>
                  <p>Belirlenmiş uygun ürünlerin doğru zamanda, eksiksiz olarak planlandığı şekilde teslim edilmesi ve
                    raflarda yerini alması</p>

                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <img src="">
                <div class="texts">
                  <p class="box-header">
                    EV DIŞI TÜKETİM
                  </p>
                  <p>Her geçen gün büyüyen ev dışı tüketim kanalında firmalara özel projelerin ve sistemlerin
                    geliştirilmesi</p>

                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <img src="">
                <div class="texts">
                  <p class="box-header">
                    İTHALAT VE ÜRÜN YÖNETİMİ
                  </p>
                  <p>Direkt ithalatı yapılan ve yurtiçi tedarikçilerden temin edilen ürünlerin tüketicilerle
                    buluşturulması</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>

    <section>
      <div class="section">
        <h2 class="h2">
          Efe Tedarik’in Sizi Memnun Edecek<br>Tedarik Zinciri Operasyonunda Neler Oluyor?
        </h2>
        <p class="lead">
          Efe Tedarik ithalat, sipariş ve yerine koyma yönetimi,<br>stok takibi, depolama, elleçleme, dağıtım,
          iade yönetimi, raporlama ve müşteri yönetimi gibi<br>tüm tedarik zinciri detaylarını eksiksiz olarak yönetir
          ve müşterilerinin<br>bu süreçlerle zaman harcamamasını sağlayarak ana işlerine yönelmelerine imkan verir.
        </p>
        <div class="wrap">
          <div class="row">
            <div style="padding-inline: 200px; text-align: center; font-weight: bold; padding-top: 10px;">
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <div>
                    <img src="{% static 'img/icons/project-i.jpg' %}" style="height: 100px; border-radius: 50%;">
                    <div>PROJELENDİRME</div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <div>
                    <img src="{% static 'img/icons/delivery-i.jpg' %}" style="height: 100px; border-radius: 50%;">
                    <div>TEDARİK</div>
                  </div>
                </div>
                <div class=" col-xs-6 col-sm-3 col-md-3">
                  <div>
                    <img src="{% static 'img/icons/deal-i.jpg' %}" style="height: 100px; border-radius: 50%;">
                    <div>SATINALMA</div>
                  </div>
                </div>
                <div class=" col-xs-6 col-sm-3 col-md-3">
                  <div>
                    <img src="{% static 'img/icons/depot-i.jpg' %}" style="height: 100px; border-radius: 50%;">
                    <div>DEPOLAMA</div>
                  </div>
                </div>
                <div class=" col-xs-6 col-sm-3 col-md-3">
                  <div style="padding-top: 10px;">
                    <img src="{% static 'img/icons/order-i.jpg' %}" style="height: 100px; border-radius: 50%;">
                    <div>SİPARİŞ VE TALEP</div>
                  </div>
                </div>
                <div class=" col-xs-6 col-sm-3 col-md-3">
                  <div style="padding-top: 10px;">
                    <img src="{% static 'img/icons/delivery-d-i.jpg' %}" style="height: 100px; border-radius: 50%;">
                    <div>TESLİMAT</div>
                  </div>
                </div>
                <div class=" col-xs-6 col-sm-3 col-md-3">
                  <div style="padding-top: 10px;">
                    <img src="{% static 'img/icons/return-i.jpg' %}" style="height: 100px; border-radius: 50%;">
                    <div>İADE</div>
                  </div>
                </div>
                <div class=" col-xs-6 col-sm-3 col-md-3">
                  <div style="padding-top: 10px;">
                    <img src="{% static 'img/icons/call-i.jpg' %}" style="height: 100px; border-radius: 50%;">
                    <div>MÜŞTERİ HİZMETLERİ</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>

    <section class=" section">
      <div>
        <h2 class="h2">Efe Tedarik Size Hangi Avantajları Sağlıyor?</h2>
        <div>
          <h3>Bırakın zor işleri biz yapalım</h3>
          <p>
            Efe Tedarik tedarik zinciri olarak temel amacımız tüm müşterilerimizin kendi
            alanlarındaki<br>hizmet ve
            satış
            imkanlarına yönelik gelişim fırsatlarını değerlendirmelerini sağlamak<br>ve ilgi
            alanlarını ana işlerine
            çevirmelerine
            imkan vermek.
          </p>
          <ul style="list-style-type: circle;">
            <li>Kaynak verimliliğini arttırır</li>
            <li>Teslimat performansını arttırır</li>
            <li>Kalite ve fiyat dengesine uygun seçim sağlar</li>
            <li>Satınalmada kalite ve rekabet dengesini kurar</li>
            <li>Finans kontrolü ve dengesi ile olası riskleri azaltır</li>
            <li>Beklenmeyen riskleri kaldırır ve müşteri memnuniyetine<br>odaklanma imkanı
              sağlar</li>
          </ul>
        </div>
      </div>
    </section>

    <br>
    <br>

    </section>
    <section>
      <div class="section">
        <h2 class="h2">Ürünlerimiz</h2>
        <p class="lead">Pazarın ve müşterilerimizin ihtiyaç ve beklentilerine göre farklı kategorilerde ithalatı ve iç
          piyasa alımları yapılan harika ürünleri keşfedin</p>
        <div class="row" style="padding-inline: 40px;">
          <div class="col-md-4">
            <img src="{% static 'img/products/nutella.jpg' %}">
            <p style="font-weight: bold; font-style: oblique;">Nutella</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/products/kinder_happy_hippo.jpg' %}">
            <p style="font-weight: bold; font-style: oblique;">Kinder Happy Hippo</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/products/original_gourmet_chocolate_fusion.jpg' %}">
            <p style="font-weight: bold; font-style: oblique;">Original Gourmet<br>Chocolate Fusion</p>
          </div>
        </div>

        <a href="{% url 'core:products' %}" style="color: #1cac23; font-style: italic;" class="btn-link">Efe Tedarik
          Ürünlerini Keşfetmek İçin Tıkla</a>
      </div>
    </section>

    <br>
    <br>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 class="h2">Farkımızı Görmeye <br> Ne Dersiniz?</h2>
            <p>Bize işinizi ve ne istediğinizi anlatın,<br>sizi yormadan işinize nasıl değer katacağımızı
              anlatalım.</p>
          </div>
          <div class="col-md-5">
            <div class="box">
              <div style="height: 35px;"></div>
              <t style="font-weight: bold;">+90 506 543 2808</t>
              <div style="height: 10px;"></div>
              <a href="{% url 'core:contact' %}" class="btn green" style="color: white;">İletişim
                Bilgilerimize Ulaşmak İçin
                Tıklayın</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</body>

<br>
<br>
<br>

{% endblock content %}