{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<style>
    .header {
        padding: 60px;
        text-align: center;
        background: orange;
        color: white;
        font-size: 30px;
    }

    .section {
        text-align: center;
        padding-inline: 100px;
    }

    .h1 {
        font-weight: bold;
        font-size: 40px;
    }

    .h2 {
        font-weight: bold;
        color: #e65100;
        font-size: 30px;
    }

    .h3 {
        font-weight: bold;
        color: #e65100;
        font-size: 25px;
    }

    .box-start {
        border-style: dotted;
        border-color: orange;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-inline: 20px;
    }

    .box-header-start {
        font-size: 20px;
        font-weight: bold;
        color: #FF8800;
    }

    .box {
        text-align: center;
    }

    .box-header {
        font-size: 16px;
        font-weight: bold;
    }
</style>

<main>
    <header>
        <div class="header">
            <div class="texts">
                <h1 class="h1">EFE TEDARİK ÜRÜNLERİ</h1>
                <h2 style="font-weight: bold; font-size: 25px;">Sizi mutlu eden ürünleri biz getiriyoruz</h2>
                <div style="font-size: 25px;">Pazarın ve müşterilerimizin ihtiyaç ve beklentilerine göre<br>farklı
                    kategorilerde ithalatı ve iç piyasa alımları yapılan harika ürünleri keşfedin</div>
            </div>
        </div>
    </header>
    {% if request.user.is_authenticated %}
    <div class="container">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg warning-color-dark lighten-3 mt-3 mb-5">

            <!-- Navbar brand -->
            <span class="navbar-brand"></span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link white-text font-weight-bold" href="#">Hepsi
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text font-weight-bold" href="#">Atıştırmalık</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text font-weight-bold" href="#">İçecek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text font-weight-bold" href="#">Kuru Gıda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text font-weight-bold" href="#">Dondurulmuş Gıda</a>
                    </li>

                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0 rgba-white-slight">
                        <input class="form-control mr-sm-2 white-text" type="text" placeholder="Arama"
                            aria-label="Search">
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <div class="row wow fadeIn">

                {% for item in object_list %}
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">
                            {% comment %} <img
                                src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                                class="card-img-top" {% endcomment %} <img src="{{ item.image.url }}"
                                class="card-img-top">
                            <a href="{{ item.get_absolute_url }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>{{ item.get_category_display }}</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold deep-orange-text">
                                <strong>
                                    {% if item.discount_price %}
                                    {{ item.discount_price }}
                                    {% else %}
                                    {{ item.price }}
                                    {% endif %}
                                </strong>₺
                            </h4>

                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>

        </section>
        <!--Section: Products v.3-->

        <!--Pagination-->

        {% if is_paginated %}
        <nav class="d-flex justify-content-center wow fadeIn">
            <ul class="pagination pg-blue">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    {% else %}
    <div>
        <div>
            <section>

                <div class="container">
                    <p style="text-align: center; font-size: 20px; font-weight: bold;">Kalite ve fiyat dengesini
                        gözeterek yaptığımız satın almalarla sizi yerel ve
                        ulusal markalarla buluşturuyoruz.</p>
                    <br>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-5">

                        </div>
                    </div>
                    <div class="urun">
                        <div class="row">
                            <div class="col-md-5">
                                <div> <img src="{% static 'img/products/nutella.jpg' %}" style="padding-left: 100px;">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h2 class="h2">Nutella</h2>
                                <p>
                                    -Ürün Açıklaması-
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--urun end-->
                </div>
            </section>

            <br>
            <br>

            <section class="section">
                <h2 style="font-weight: bold;">Ürün Kategorilerimiz</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-sm-2">
                        <ul style="list-style: none;">
                            <h3 class="h3">Atıştırmalık</h3>
                            <li>Sakız</li>
                            <li>Şekerleme</li>
                            <li>Kuruyemiş</li>
                            <li>Bisküvi ve Kekler</li>
                            <li>Çikolata, Bar ,Gofret</li>
                            <li>Diyet ve Doğal Ürünler</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-2">
                        <ul style="list-style: none;">
                            <h3 class="h3">İçecek</h3>
                            <li>Su</li>
                            <li>Maden Suyu</li>
                            <li>Meyve Suyu</li>
                            <li>Gazlı İçecek</li>
                            <li>Sıcak İçecek</li>
                            <li>Enerji İçeceği</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-2">
                        <ul style="list-style: none;">
                            <h3 class="h3">Dondurulmuş Ürünler</h3>
                            <li>Sebze-Meyve</li>
                            <li>Hamur İşleri</li>
                            <li>Hazır Yiyecekler</li>
                            <li>İşlenmiş Et & Balık</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-2">
                        <ul style="list-style: none;">
                            <h3 class="h3">Taze Ürünler</h3>
                            <li>Zeytin</li>
                            <li>Yumurta</li>
                            <li>Süt ve Sütlü Ürünler</li>
                            <li>Reçel & Tahin-Pekmez</li>
                            <li>Ekmek & Unlu Mamüller</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-2">
                        <ul style="list-style: none;">
                            <h3 class="h3">Kuru Gıda</h3>
                            <li>Şeker-Tuz</li>
                            <li>Sıvı Yağlar</li>
                            <li>Konserve-Turşu</li>
                            <li>Salça-Harç-Çorba</li>
                            <li>Ketçap-Mayonez-Sos</li>
                            <li>Bakliyat-Makarna-Pirinç</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-2">
                        <ul style="list-style: none;">
                            <h3 class="h3">Gıda Dışı Ürünler</h3>
                            <li>Sağlık Ürünleri</li>
                            <li>Kağıt Ürünleri</li>
                            <li>Temizlik Ürünleri</li>
                        </ul>
                    </div>
                </div>


            </section>
        </div>
    </div>
    {% endif %}

    <br>
    <br>
    <br>

</main>

{% endblock content %}