{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<style>
    .header {
        padding: 60px;
        text-align: center;
        background-image: url("{% static 'img/background/market2.jpg' %}");
        background-size: cover;
        color: white;
        font-size: 30px;
    }

    .section {
        text-align: center;
        padding-inline: 100px;
    }

    .h1 {
        font-weight: bold;
        font-size: 40px;
    }

    .h2 {
        font-weight: bold;
        color: #e65100;
        font-size: 30px;
    }

    .h3 {
        font-weight: bold;
        color: #e65100;
        font-size: 25px;
    }

    .box-start {
        border-style: dotted;
        border-color: orange;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-inline: 20px;
    }

    .box-header-start {
        font-size: 20px;
        font-weight: bold;
        color: #FF8800;
    }

    .box {
        text-align: center;
    }

    .box-header {
        font-size: 16px;
        font-weight: bold;
    }
</style>

<main>
    <header>
        <div class="header">
            <div class="texts">
                <h1 class="h1">EFE TEDARİK ÜRÜNLERİ</h1>
                <h2 style="font-weight: bold; font-size: 25px; -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: white;">Sizi mutlu eden ürünleri biz getiriyoruz</h2>
                <div style="font-size: 25px; -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: white;">Pazarın ve müşterilerimizin ihtiyaç ve beklentilerine göre<br>farklı
                    kategorilerde ithalatı ve iç piyasa alımları yapılan harika ürünleri keşfedin</div>
            </div>
        </div>
    </header>

    {% if request.user.is_authenticated %}
    <div class="container">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg warning-color-dark lighten-3 mt-3 mb-5">

            <!-- Navbar brand -->
            <span class="navbar-brand"></span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link white-text font-weight-bold" href="#">Hepsi
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text font-weight-bold" href="#">Atıştırmalık</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text font-weight-bold" href="#">İçecek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text font-weight-bold" href="#">Kuru Gıda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text font-weight-bold" href="#">Dondurulmuş Gıda</a>
                    </li>

                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0 rgba-white-slight">
                        <input class="form-control mr-sm-2 white-text" type="text" placeholder="Arama"
                            aria-label="Search">
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <div class="row wow fadeIn">

                {% for item in object_list %}
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card" style="height: 400px; width: 99%;">

                        <div class="view overlay">
                            <img src="{{ item.fotoğraf.url }}" class="card-img-top">
                            <a href="{{ item.get_absolute_url }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>{{ item.get_category_display }}</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.isim }}
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold deep-orange-text">
                                <strong>
                                    {% if item.indirimli_fiyat %}
                                    {{ item.indirimli_fiyat }}
                                    {% else %}
                                    {{ item.fiyat }}
                                    {% endif %}
                                </strong>₺
                            </h4>

                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>

        </section>
        <!--Section: Products v.3-->

        <!--Pagination-->

        {% if is_paginated %}
        <nav class="d-flex justify-content-center wow fadeIn">
            <ul class="pagination pg-blue">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    {% else %}
    <section class="section" style="font-size: 30px;">
        Ürünlerimizi görebilmek için üye olmanız gerekmektedir.<br>
        Üye olmadan görebileceğiniz ürünler için:<br>
        <a href="{% url 'core:products_ö' %}">Öne Çıkan Ürünler</a>
    </section>
    {% endif %}

    <br>
    <br>
    <br>

</main>

{% endblock content %}